.p-panelmenu{
    width: 20%;
    height: 95vh;
    float: left;
    padding: 6px;
    background-color: aliceblue;
   
}


/* .p-component{
    background-color: aliceblue;
} */

/* .p-panelmenu .p-panelmenu-header > a{
    background-color: rgb(104, 113, 238) !important;
    color : white;
} */
.p-panelmenu-content{
    
}


.p-panelmenu-panel{
    border : none;
   
    
    
}
.p-submenu-list{
    /* background-color: blue; */
    
}


