body {
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(228, 211, 235);;
  background-image: linear-gradient(
      to right bottom,
      rgb(225, 242, 247),rgb(55, 84, 161,0.8)
    );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


