.banner{
    
    background-image:linear-gradient(
      to right top,
      #1341ad,#052c86
    );

    background-size: cover;
    background-position: top;

    /* add width  and height to top level, provided by props */
    width: 100vw;
    height: 110px;
    align-content: center;
    
    
}
.banner-heading-primary{
    font-size: 60px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1.5px;
    color:white;
}

.copyright {
    padding:0px;
    color:#858e96;
    font-size: 12px;
    margin-top: 0;
    text-align: center;
  }

  .copyright-link{
      text-decoration: none;;
      color: white;
  }

  .copyright-link.active {
      background-color: none;
  }